<div class="main-page">
  <h1 class="ui header main-page-title">
    <div class="content">RunSQL
      <div class="sub header">SQL쿼리를 온라인에서 실행하세요.</div>
    </div>
  </h1>
  <div class="ui grid">
    <div class="three wide column tables-container">
      <h2 class="ui header">Tables</h2>
      <div class="ui vertical menu">
        <a class="item">
          departments
        </a>
        <a class="item">
          dept_emp
        </a>
        <a class="item">
          employees
        </a>
        <a class="item">
          salaries
        </a>
      </div>
    </div>
    <div class="nine wide column">
      <div class="query-container">
        <h2 class="ui header">Query</h2>
        <div>
          <div class="ui form">
            <div class="field">
              <textarea></textarea>
            </div>
            <div>
              <button class="ui primary button">
                Run
              </button>
              <button class="ui button">
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="result-container">
          <h2 class="ui header">Result</h2>
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Job</th>
                <th>Name</th>
                <th>Age</th>
                <th>Job</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Name">James</td>
                <td data-label="Age">24</td>
                <td data-label="Job">Engineer</td>
                <td data-label="Name">James</td>
                <td data-label="Age">24</td>
                <td data-label="Job">Engineer</td>
              </tr>
              <tr>
                <td data-label="Name">Jill</td>
                <td data-label="Age">26</td>
                <td data-label="Job">Engineer</td>
                <td data-label="Name">Jill</td>
                <td data-label="Age">26</td>
                <td data-label="Job">Engineer</td>                
              </tr>
              <tr>
                <td data-label="Name">Elyse</td>
                <td data-label="Age">24</td>
                <td data-label="Job">Designer</td>
                <td data-label="Name">Elyse</td>
                <td data-label="Age">24</td>
                <td data-label="Job">Designer</td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>