// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-page {
  margin: 2rem;

  .main-page-title { margin-bottom: 2rem; }
  .tables-container {}
  .query-container {}
  .result-container { margin-top: 2rem;}
}